// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font
$font-title: 'Montserrat', sans-serif;
$font-body: 'Montserrat', sans-serif;;

// Colors
$main-color: #a8894d;
$secondary-color: #1b252d;
$gray1-color: #4d4d4d;
$gray2-color: #707070;
$gray3-color: #f6f6f6;

// Import
@import 'mobile';

// START HERE
// Main Styling
html,
body {
  font-family: $font-body;
  background: $gray3-color;
}

.bg-black {
  background: #000;
  color: #fff;
  padding: 12px 20px;
  font-size: 13px;
  text-transform: uppercase;
}

.text-main {
  color: $main-color;
}

.btn-main,
.bg-main {
  background: $main-color;
  color: #fff;
}
